<!-- 왼쪽 카테고리 세션 불러올 경우 -->
<section class="content-left-category" th:fragment="category">
  <ul>
    <li class="chatting-li">
      <button type="button" id="leftBasicBtn">기본</button>
      <ul class="left-normal" id="leftBasicCategory">
        <li><a href="#">전체</a></li>
        <li><a href="#">hot 자취요리</a></li>
        <li><a href="#">추억의 자취요리</a></li>
        <li><a href="#">랜덤 자취요리</a></li>
        <li><a href="#">냉장고를 부탁해</a></li>
        <li><a href="#">가성비 자취요리</a></li>
      </ul>
    </li>

    <li class="chatting-li">
      <button type="button" id="leftPlusBtn">이모저모</button>
      <ul class="left-normal" id="leftPlusCategory">
        <li><a href="#">자취요리 꿀팁</a></li>
        <li><a href="#">자취생 고민</a></li>
        <li><a href="#">자취 시 꿀팁</a></li>
        <li><a href="#">자유게시판</a></li>
      </ul>
    </li>

    <li class="chatting-li">
      <button type="button" id="leftEtcBtn">기타</button>
      <ul class="left-normal" id="leftEtcCategory">
        <li><a href="#">Q&A</a></li>
        <li><a href="#">1:1 문의</a></li>
        <li><a href="#">멤버별 혜택</a></li>
      </ul>
    </li>

    <li class="chatting-li">
      <a href="#">채팅</a>
    </li>
  </ul>
</section>