<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="#{app.name}">맛있는 음식 추천</title>
  <th:block th:replace="~{common/common}"></th:block>
</head>

<body>
  <main>

    <!-- 헤더, 네비바 부분-->
    <th:block th:replace="~{common/header}"></th:block>

    <!-- 메인 페이지 내용 -->
    <section class="content">

      <!-- 왼쪽 섹션 : 삭제
      <th:block th:replace="~{common/left-section :: category}"></th:block>
      -->
      
      <!-- 중앙 세션 -->
      <section class="content-center">
        중앙 영역
      </section>
  
      <!-- 오른쪽 섹션 -->
      <section class="content-right">
  
        <!-- 오른쪽 위 섹션(로그인창 or 회원정보) 헤더 부분으로 이동
        <th:block th:replace="~{common/right-section :: login}"></th:block>
        -->
  
        <!-- 오른쪽 아래 섹션(쿠키정보 활용하여 이전에 본 레시피 출력) -->
        <th:block th:replace="~{common/right-section :: previous}"></th:block>
      </section>

    </section>

  </main>

  <!-- 푸터 부분 -->
  <th:block th:replace="~{common/footer}"></th:block>

  <!-- JS 연결-->
  <script src="/js/main.js"></script>
</body>

</html>